@import views.tags.html._
<div id="addressForm" class="container">
  <div class="page-header">
    <h1>Where should we send the flowers?</h1>
  </div>
  <div class="row">
    <div class="span8">
      <form id="recipientInfo">
        @textinput("Name", "recipientName", "required")
        @textinput("Phone", "recipientPhone", "required number", "minlength=10 maxlength=10")
        @textinput("Address 1", "recipientAddress1", "required")
        @textinput("Address 2", "recipientAddress2")
        @textinput("City", "recipientCity", "required")
        @countryselect("Country", "recipientCountry")
        @stateselect("Province/State", "recipientState")
        @textinput("Postal Code/Zip", "recipientZip", "required", "minlength=5 maxlength=6")

      </form>
    </div>
    <div class="span7">
      <h2>Don't worry.</h2>
      <p>There will be no mention of instaRomeo when she receives the flowers. Your secret is safe with us :P</p>
      <div class="right">
        <div class="btn modifyOrder">
          Modify Order
        </div>
        <div class="btn info next">
          Next
        </div>
      </div>
    </div>
  </div>
</div>
