@import views.tags.html._
<div id="addressForm" class="container">
  <div class="page-header">
    <h1>Where should we send the flowers?</h1>
  </div>
  <div class="row">
    <div class="span8">
      <form id="recipientInfo">
        @textinput("Name", "recipientName", "Daphne")
        @textinput("Phone", "recipientPhone", "6132539834")
        @textinput("Address 1", "recipientAddress1", "200 Daphne St")
        @textinput("City", "city", "Ottawa")
        @countryselect("Country", "country")
        @stateselect("Province/State", "state")
        @textinput("Postal Code/Zip", "zip", "K3MB4M")

      </form>
    </div>
    <div class="span7">
      <h2>Don't worry.</h2>
      <p>There will be no mention of instaRomeo when she receives the flowers. Your secret is safe with us :P</p>
      <div class="right">
        <div class="btn modifyOrder">
          Modify Order
        </div>
        <div class="btn info next">
          Next
        </div>
      </div>
    </div>
  </div>
</div>
