@import views.tags.html._
<h1>Delivery Details</h1>
<div class="container">
  <div class="row">
    <div class="span8">
      <h2>Your Info</h2>
      <form id="senderInfo">
        @textinput("Name", "senderName", "Clifford")
        @textinput("Phone", "senderPhone", "6132329834")
        @textinput("Email", "senderEmail", "cliff@cliff.com")
        @textinput("Address 1", "senderAddress1", "150 Clifford Av")
        @textinput("Address 2", "senderAddress2")
        @textinput("City", "senderCity", "Ottawa")
        @textinput("State", "senderState", "On")
        @textinput("Country", "senderCountry", "CA")
        @textinput("Zip Code", "senderZip", "K2B9M2")
      </form>
    </div>
    <div class="span8">
      <h2>Delivery Address</h2>
      <form id="recipientInfo">
        @textinput("Name", "recipientName", "Daphne")
        @textinput("Phone", "recipientPhone", "6132539834")
        @textinput("Address 1", "recipientAddress1", "200 Daphne St")
        @textinput("City", "city", "Ottawa")
        @textinput("State", "state", "On")
        @textinput("Country", "country", "CA")
        @textinput("Zip", "zip", "K3MB4M")
      </form>
      <div id="checkoutNext" class="btn info next">
          Proceed to Payment
      </div>
    </div>
  </div>
</div>