@import views.tags.html._
<h1>Checkout details</h1>
You're about to purchase the following:
<div id="modifyOrder" class="btn info">
    Modify
</div>

You're sending flowers to the following address:
<div id="modifyAddress" class="btn info">
    Modify
</div>

<form>
  @textinput("Credit Card Number", "cardNumber")
  @textinput("CVC", "cvc")
</form>
<div id="purchase" class="btn info">
    Purchase
</div>
<div id="purchaseLoading" style="display: none">
    Purchasing <img src="@asset("public/images/spinner.gif")"/>
</div>