@(title:String)

@main(title) {
  	<img src="@asset("public/images/female.png")"/>
  	<img class="inactive" src="@asset("public/images/anniversary.png")"/>
  	<img class="inactive" src="@asset("public/images/birthday.png")"/>
  	<img class="inactive" src="@asset("public/images/surprise.png")"/>
  	<img class="inactive" src="@asset("public/images/calendar.png")"/>
  	<img class="inactive" src="@asset("public/images/checkout.png")"/>
  
} {
    <div id="slider">
      <div>@views.Application.girlfriend.html.name()</div>
      <div>@views.Application.girlfriend.html.aniversary()</div>
      <div>@views.Application.girlfriend.html.birthday()</div>
      <div>@views.Application.girlfriend.html.random()</div>
	  <div>@views.Application.girlfriend.html.surprise()</div>
	  <div>@views.Application.girlfriend.html.order()</div>
    </div>
    
    <script>
    $(function(){
      var slider = $('#slider').bxSlider({
        mode: 'fade',
        controls: false
      });
      
    });
    
    </script>
    
}