@(title:String)

@main(title) {
  	<img src="@asset("public/images/female.png")"/>
  	<img id="prog-ico-anniversary" class="inactive" src="@asset("public/images/anniversary.png")"/>
  	<img id="prog-ico-birthday" class="inactive" src="@asset("public/images/birthday.png")"/>
  	<img id="prog-ico-surprise" class="inactive" src="@asset("public/images/everyday.png")">
  	<img id="prog-ico-calendar" class="inactive" src="@asset("public/images/calendar.png")"/>
  	<img id="prog-ico-checkout" class="inactive" src="@asset("public/images/checkout.png")"/>
  
} {
    <div id="slider1">
      <div class="wiz-slide">@views.Application.girlfriend.html.name()</div>
      <div class="wiz-slide"> @views.Application.girlfriend.html.aniversary()</div>
      <div class="wiz-slide"> @views.Application.girlfriend.html.birthday()</div>
      <div class="wiz-slide"> @views.Application.girlfriend.html.random()</div>
	    <div class="wiz-slide"> @views.Application.girlfriend.html.order()</div>
	    <div class="wiz-slide"> @views.Application.girlfriend.html.address()</div>
	    <div class="wiz-slide"> @views.Application.girlfriend.html.billing()</div>
	    <div class="wiz-slide"> @views.Application.girlfriend.html.congrats()</div>
    </div>
    
}