html
{
  background: url('../images/bkg.png');
}

h1 {
  margin-bottom: 0px;
}

body 
{
    background: url('../images/bkg.png');
}

#terms {
  color: #AA;
  margin: 0px auto;
  width: 170px;
}

.nav-logo img
{
    width:70px;
    height:70px;
    position: relative;
    top: 6px;
    margin-right: -12px;
}

.nav-logo
{
  color: white;
  font-size: 70px;
  text-shadow: #000 4px 4px 2px;
}

.wiz-container 
{
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -o-border-radius: 7px;
    -ms-border-radius: 7px;
    -khtml-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: #000 0px 1px 2px;
    -webkit-box-shadow: #000 0px 1px 2px;
    -o-box-shadow: #000 0px 1px 2px;
    box-shadow: #000 0px 1px 2px;
    border: 1px solid #444;
    overflow: hidden;
}

.wiz-nav 
{
    background: white url('http://static2.metalabdesign.com/images/screenshots-container-bottom.png') repeat-x top left;
    -moz-border-radius: 0px 0px 7px 7px;
    -webkit-border-radius: 0px 0px 7px 7px;
    -o-border-radius: 0px 0px 7px 7px;
    -ms-border-radius: 0px 0px 7px 7px;
    -khtml-border-radius: 0px 0px 7px 7px;
    border-radius: 0px 0px 7px 7px;
    position: relative;
    z-index: 75;
    height:40px;
    border: 1px solid #DDD;
}

.wiz-content
{
    padding: 26px;
    height:500px;
    background: url('/public/images/fancy_deboss.png');
}

.wiz-controls
{
    margin: 0px auto;
    width: 320px;
}
.wiz-controls img 
{
    width:32px;
    height:32px;
    float:left;
    padding-top:5px;
    padding-left:10px;
    padding-right:10px;
}

.inactive
{
    opacity:0.4;
}

.wiz-slide
{
    width:889px;
    height:500px;
    color: black;
}

.single-field-form, .yes-no-form
{
    margin: 180px auto;
    width: 510px;
}

#nameForm form {
  margin-bottom: 0px;
}

.gldp-android {
  z-index: 10000;
}

.alert-message {
  margin-bottom: 5px;
}

input.error {
  border: 1px solid red;
}

label.error {
  color: red;
  width: 300px;
  text-align: left;
  padding: 0px;
}

small {
  font-style: italic;
}

.date-text {
  font-size: 20px;
  color: #555;
}

input
{
  width: 240px;
}

input.xlarge
{
    width:500px;
    height:50px;
    font-size:3.5em;
    margin-bottom: 5px;
}

.single-field-form .input {
  margin-left: 0px;
}

.expiration {
  float: left;
  width: 60px;
}

.remove {
  top: 10px;
  position: relative;
}

.delivery {
  width: 428px;
}

.left{
    float:left;
}

.right{
    float:right;
}

.center{
    text-align:center;
}